.footer {
    background: #1C2023;
    padding: 100px 0;
    @media all and (max-width: 1023px) {
        padding: 80px 0px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 45px;
        position: relative;
        border-bottom: 1px solid #fff;
        margin-bottom: 55px;
        @media all and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 60px;
        }
        &:before {
            position: absolute;
            content: '';
            height: 32px;
            bottom: -2px;
            left: -20px;
            right: -20px;
            background: #1C2023 url("data:image/svg+xml,%3Csvg width='1442' height='32' viewBox='0 0 1442 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 31C1 31 710.807 31 970.167 31C997.667 31 1006.38 1 1033.88 1C1061.38 1 1070.1 31 1097.6 31C1191.55 31 1441 31 1441 31' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A") 100% 100% / cover no-repeat;
            @media all and (max-width: 1023px) {
                background-position: 71% 0;
            }
        }
    }
    &__logo {
        display: block;
        max-width: 191px;
        width: 100%;
        text-decoration: none;
        img {
            width: 100%;
        }
        @media all and (max-width: 1023px) {
            max-width: 255px;
            margin-bottom: 40px;
        }
    }
    &__menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media all and (max-width: 1023px) {
                flex-direction: column;
                align-items: flex-start;
            }
            li {
                margin-left: vw(30);
                margin-right: vw(30);
                @media all and (max-width: 1023px) {
                    margin: 0;
                }
                a {
                    text-decoration: none;
                    font-family: 'Mulish', Helvetica, sans-serif;
                    font-style: normal;
                    transition: all .3s ease-out;
                    font-weight: 400;
                    font-size: 18px;
                    color: #FFFFFF;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-bottom: 2px solid transparent;
                    &:hover {
                        border-color: #D26351;
                        color: #D26351;
                    }
                    @media all and (max-width: 1023px) {
                        display: inline-block;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__copy {
        font-family: 'Mulish', Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        max-width: 213px;
        width: 100%;
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
        }
    }
    &__soc {
        display: flex;
        align-items: center;
        margin-left: auto;
        @media all and (max-width: 1023px) {
            margin-left: 0;
        }
        a {
            display: block;
            margin-left: 20px;
            width: 39px;
            height: 39px;
            @media all and (max-width: 1023px) {
                margin-right: 20px;
                margin-left: 0;
            }
            svg {
                path {
                    transition: all .3s ease-out;
                }
            }
            &:hover {
                svg {
                    path {
                        fill: #D26351;
                    }
                }
            }
        }
    }
}